body {
    font-family: sans-serif;
    background-color: #F0F8FF;
    /* background-color: #B9D9EB; #E1EBEE, #F0F8FF, #CCCCFF */
    padding: 20px;
}

.main-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #B9D9EB; */
    padding: 20px;
    max-width: 800px;
}

h2, p {
    text-align: left;
}