---
layout: default
---

<h1>{{ page.title }}</h1>

{% assign author = site.authors | where: 'short_name', page.author | first %}
<p>
{{ page.date | date_to_string }}

{% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
{% endif %}
</p>

{{ content }}

<!-- 
    example of layout inheritance
    page.title -> automatically picked up based on file name or explicitly given in front matter
    page.date -> automatically picked up based on file name
    page.contributor -> front matter data
 -->