---
layout: default
---

<h1>{{ page.title }}</h1>

<p>{{ page.date | date_to_string }}</p>
{% assign author = site.authors | where: 'short_name', page.author | first %}
{% if author %}
  - <a href="{{ author.url }}">{{ author.name }}</a>
{% endif %}

{{ content }}

<!-- 
    example of layout inheritance
    page.title -> automatically picked up based on file name or explicitly given in front matter
    page.date -> automatically picked up based on file name
    page.contributor -> front matter data
 -->